body {
    height: 100vp;
    background-image: 
    background-repeat: no-repeat;
    background-position: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.headers {
    border: solid 1px black;
    background: rgba(255, 255, 255, 0.4);

}

.ship-location {
    background: blue;
}

.salvo-location {
    background: green;
}

.hit {
    background-image: url(fireball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table,
th,
td {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
}

tr {
    height: 6vh;
}

th {
    width: 6vh;
    text-align: center;
}
.aircraftcarrier-img,.battleship-img,.destroyer-img,.patrolboat-img,.submarine-img{
    width: 20%;
    height: 6vh;
    position: relative;
}

.aircraftCarrier{
    height: 6vh;
    width: 30vh;
    position: absolute;
    top: 0px;
    z-index: 9;
}
.battleship{
    height: 6vh;
    width: 24vh;
    position: absolute;
    top: 0px;
    z-index: 9;
}
.destroyer{
    height: 6vh;
    width: 18vh;
    position: absolute;
    top: 0px;
    z-index: 9;
}
.patrolboat{
    height: 6vh;
    width: 12vh;
    position: absolute;
    top: 0px;
    z-index: 9;
}
.submarine{
    height: 6vh;
    width: 18vh;
    position: absolute;
    top: 0px;
    z-index 9;
}

.ships-table{
    display: flex;
}
.cell{
    position: relative;
    text-align: left;
}
.all-the-ships {
    width: 35vh;
    height: 600px;
    position: relative;
}
.vertical{
    transform: rotate(0deg);
}
.horizontal{
    transform: rotate(90deg);

}
