<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/gameStyle.css">
    <title> Games </title>
    <!--    <link rel="stylesheet" href="css/">-->
</head>

<body>
    <div id="VueMain">
        <div class="flex">
            <div class="flex-column">
                <div class="headers">
                    <p>Ship Location</p>
                    <p>{{playerOne}}</p>
                </div>
                <table class="first-player">
                    <tr>
                        <th></th>
                        <th id="table-headers" v-for="number in rowNumbers">{{number}}</th>
                    </tr>
                    <tbody id="table-rows">
                        <tr v-for="letter in colLetters">
                            <th>{{letter}}</th>
                            <td class="content" v-bind:id="'U'+letter + number" v-for="number in rowNumbers"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex-column">
                <div class="headers">

                    <p>Salvo Location</p>
                    <p>{{playerTwo}}</p>
                </div>

                <table class="second-player">
                    <tr>
                        <th></th>
                        <th id="table-headers" v-for="number in rowNumbers">{{number}}</th>
                    </tr>
                    <tbody id="table-rows">
                        <tr v-for="letter in colLetters">
                            <th>{{letter}}</th>
                            <td class="content" v-bind:id="'E'+letter + number" v-for="number in rowNumbers"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="javascript/game.js"></script>
</body>

</html>
