<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/leaderboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:600" rel="stylesheet">
    <title> LeaderBoard </title>
</head>

<body>

    <div id="VueMain">
        <div class="container">
            <div class="row headers justify-content-between">
                <div class="player-name col-lg-4 align-self-center" v-if="logedUser">{{playerName}}</div>
                <h3 class="leaderboard col-lg-4 align-self-center">Leaderboard</h3>
                <button class="col-lg-2 offset-lg-2 sign-out btn btn-outline-light align-self-center" v-if="logOutButton" v-on:click="logOut()" type="button"><i class="fas fa-sign-out-alt"></i>LogOut</button>
            </div>
            <div class="wrong-credentials" id="message"></div>

            <form id="loginform" name="loginform" class="form   ">
                <div class="row placeholders  ">
                    <input id="username" class="col-lg-4 offset-lg-1 form-control-plaintext mail-input " placeholder="Enter email" name="username">
                    <input id="password" class="col-lg-4 offset-lg-2 form-control-plaintext password-input " placeholder="Enter password" name="password">
                </div>
                <div class="row buttons-form ">
                    <button v-if="logInButton" v-on:click="logIn()" type="button" class="login-button col-lg-4 offset-lg-1 btn btn-outline-light ">Login</button>
                    <button v-if="signUpButton" v-on:click="signUp()" type="button" class="signup-button col-lg-4 offset-lg-2 btn btn-outline-light">SignUp</button>
                </div>
            </form>
            <div class="table-responsive-md table-background">
                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Win</th>
                        <th class="text-center">Ties</th>
                        <th class="text-center">Losts</th>
                    </tr>
                    <tbody>
                        <tr v-for="data in leaderboard">
                            <td>{{data.name}}</td>
                            <td class="text-center">{{data.totalScore}}</td>
                            <td class="text-center">{{data.numberOfWins}}</td>
                            <td class="text-center">{{data.numberOfTies}}</td>
                            <td class="text-center">{{data.numberOfLosses}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive-md table-background">
                <table  class="table gameTable text-center">
                    <tr id="header">
                        <th>#</th>
                        <th>Host</th>
                        <th></th>
                        <th>player two</th>
                        <th></th>
                    </tr>
                    <tbody  id="gameList" v-if ="hidetable">

                    </tbody>
                </table>
                       <p class="notable-message"v-if="notable">'Please log in to enter a game'</p>
            </div>
             <button  v-on:click="createGame()" type="button">create game</button>
        </div>

    </div>





    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="javascript/games.js"></script>

</body>

</html>
